In [6]:
import torch
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
128*128*4

65536

In [29]:
m = 4
Y_true_score = torch.randint(low=0, high=2, size=(m, 1, 3, 3))
text_mask = Y_true_score
text_mask = text_mask.expand(-1, 8, -1, -1)
print("text_mask.sum()", text_mask.sum())
Y_true_geometry = torch.randint(low=0, high=512, size=(m, 8, 3, 3))
print(Y_true_score.shape, text_mask.shape)
print(Y_true_geometry.shape)

text_mask.sum() tensor(184)
torch.Size([4, 1, 3, 3]) torch.Size([4, 8, 3, 3])
torch.Size([4, 8, 3, 3])

In [30]:
(Y_true_geometry * text_mask).shape

torch.Size([4, 8, 3, 3])

In [31]:
print(Y_true_geometry.sum())
print((Y_true_geometry * text_mask).sum())

tensor(71464)
tensor(46471)

In [34]:
(Y_true_geometry * Y_true_score).sum()

tensor(46471)

In [28]:
print(text_mask.sum())
print(19*8)

tensor(152)
152

In [18]:
text_mask

tensor([[[[ True,  True,  True],
          [ True,  True,  True],
          [False, False, False]],

         [[ True,  True,  True],
          [ True,  True,  True],
          [False, False, False]],

         [[ True,  True,  True],
          [ True,  True,  True],
          [False, False, False]],

         [[ True,  True,  True],
          [ True,  True,  True],
          [False, False, False]],

         [[ True,  True,  True],
          [ True,  True,  True],
          [False, False, False]],

         [[ True,  True,  True],
          [ True,  True,  True],
          [False, False, False]],

         [[ True,  True,  True],
          [ True,  True,  True],
          [False, False, False]],

         [[ True,  True,  True],
          [ True,  True,  True],
          [False, False, False]]],


        [[[ True, False,  True],
          [ True, False,  True],
          [False, False,  True]],

         [[ True, False,  True],
          [ True, False,  True],
          [False, False,  True]],

         [[ True, False,  True],
          [ True, False,  True],
          [False, False,  True]],

         [[ True, False,  True],
          [ True, False,  True],
          [False, False,  True]],

         [[ True, False,  True],
          [ True, False,  True],
          [False, False,  True]],

         [[ True, False,  True],
          [ True, False,  True],
          [False, False,  True]],

         [[ True, False,  True],
          [ True, False,  True],
          [False, False,  True]],

         [[ True, False,  True],
          [ True, False,  True],
          [False, False,  True]]],


        [[[False, False, False],
          [False,  True,  True],
          [False,  True,  True]],

         [[False, False, False],
          [False,  True,  True],
          [False,  True,  True]],

         [[False, False, False],
          [False,  True,  True],
          [False,  True,  True]],

         [[False, False, False],
          [False,  True,  True],
          [False,  True,  True]],

         [[False, False, False],
          [False,  True,  True],
          [False,  True,  True]],

         [[False, False, False],
          [False,  True,  True],
          [False,  True,  True]],

         [[False, False, False],
          [False,  True,  True],
          [False,  True,  True]],

         [[False, False, False],
          [False,  True,  True],
          [False,  True,  True]]],


        [[[False, False,  True],
          [ True, False, False],
          [False,  True,  True]],

         [[False, False,  True],
          [ True, False, False],
          [False,  True,  True]],

         [[False, False,  True],
          [ True, False, False],
          [False,  True,  True]],

         [[False, False,  True],
          [ True, False, False],
          [False,  True,  True]],

         [[False, False,  True],
          [ True, False, False],
          [False,  True,  True]],

         [[False, False,  True],
          [ True, False, False],
          [False,  True,  True]],

         [[False, False,  True],
          [ True, False, False],
          [False,  True,  True]],

         [[False, False,  True],
          [ True, False, False],
          [False,  True,  True]]]])

In [22]:
Y_true_geometry[text_mask].shape

torch.Size([152])

In [2]:
data = pd.read_csv("experiment_loss/experiment_1.csv")

In [3]:
data.head()

   epoch_number  mini_batch_number  score_loss  geometry_loss        loss
0             1                  1    9.469061     255.954950  265.424011
1             1                  2    9.007338     255.939075  264.946413
2             1                  3    8.718753     255.925082  264.643834
3             1                  4    8.776470     255.913685  264.690156
4             1                  5    7.910673     255.905035  263.815708

In [7]:
loss_data = data.groupby("epoch_number").mean()
loss_data.head()

              mini_batch_number  score_loss  geometry_loss        loss
epoch_number
1                           209    8.044558     253.295127  261.339685
2                           209    8.045735     247.963428  256.009163
3                           209    8.046287     242.642643  250.688930
4                           209    8.045045     237.339430  245.384476
5                           209    8.044556     232.059850  240.104406

In [ ]:

plt.figure()
plt.plot(loss_data['epoch_number'], loss_data['score_loss'], marker="o", linestyle="--")
plt.ylabel("loss")
plt.savefig("experiment_plot/experiment_1_score_loss.png")